{% extends 'common/base.html' %}
{% block content %}
    <main>

        <!-- Add Category Form -->
        <section id="create">
            <div class="form">
                <h2>Add Category</h2>
                <form class="create-form" method="post" action="{% url 'create_category' %}">
                    {{ form }}
                    {% csrf_token %}
                    <button type="submit">Add Category</button>
                </form>
            </div>
        </section>

    </main>
{% endblock %}